table {
    width: 100%;
}

.edit {
    margin-right: 10px;
}

.edit > i {
    color: #d9cd26;
}

.delete > i {
    color: #e35e6b;
}

.botao {
    margin-left: 20px;
}

.mat-spinner {
    color: rgb(255, 94, 0);
}